<settings>
  <servers>
    <server>
      <id>test</id>
      <configuration>
        <httpHeaders>
          <property>
            <name>User-Agent</name>
            <value>Maven Fu</value>
          </property>
          <property>
            <name>Custom-Header</name>
            <value>My wonderful header</value>
          </property>
        </httpHeaders>
      </configuration>
    </server>
  </servers>
</settings>

