 -----
 Super POM
 -----
 Hervé Boutemy
 -----
 2011-09-12
 -----

Super POM

 All models implicitly inherit from a super-POM:

%{snippet|id=superpom|file=${project.build.sourceDirectory}/../resources/org/apache/maven/model/pom-4.0.0.xml}
