---
title: ${project.name}
author:
  - Hervé Boutemy
date: 2016-11-14
---

<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements.  See the NOTICE file
distributed with this work for additional information
regarding copyright ownership.  The ASF licenses this file
to you under the Apache License, Version 2.0 (the
"License"); you may not use this file except in compliance
with the License.  You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied.  See the License for the
specific language governing permissions and limitations
under the License.
-->

# ${project.name}

${project.description}

Useful entry points
-------------------

- [MavenCli.doMain(CliRequest)](./apidocs/org/apache/maven/cli/MavenCli.html) is the main method preparing runtime environment before running [Maven.execute()](../maven-core/)

References
----------

- [CLI options](./cli.html),
- [logging API](./logging.html).
- since 3.3.1 (see [3.3.1 release notes](/docs/3.3.1/release-notes.html#Core_Extensions) for more details), per project settings can be defined by files in `.mvn/` directory:
    - `.mvn/jvm.config` containing jvm options,
    - `.mvn/maven.config` containing Maven command-line parameter,
    - `.mvn/extensions.xml` containing [a list of extensions](./core-extensions.html),
- since 3.5.0, output is colorized by default, with color disabled in batch mode: see [styled message API](/shared/maven-shared-utils/apidocs/org/apache/maven/shared/utils/logging/package-summary.html) for more details on adding color to a plugin output or customizing colors.
