#macro ( banner $id )
    #set ( $e = $siteDescriptor.getChild( $id ) )
    #if( $e.getChild( "href" ) )
        #set ( $link = $e.getChild( "href" ).getValue() )
        <a href="$link" id="$id">
    #else
        <span id="$id">
    #end

    #if( $e.getChild( "src" ) )
        #set ( $src = $e.getChild( "src" ).getValue() )
        #if ( $e.getChild( "alt" ) )
            #set ( $alt = $e.getChild( "alt" ).getValue() )
        #else
            #set ( $alt = "" )
        #end
        <img src="$src" alt="$alt" />
    #else
        $e.getChild( "name" ).getValue()
    #end

    #if( $e.getChild( "href" ) )
        </a>
    #else
        </span>
    #end
    
#end

#macro ( links )
  #set ( $counter = 0 )
  #set ( $links = $siteDescriptor.getChild( "body" ).getChild( "links" ) )
  #foreach( $item in $links.getChildren() )
    #set ( $counter = $counter + 1 )
    <a href="$item.getAttribute( "href" )">$item.getAttribute( "name" )</a>
    #if ( $links.getChildCount() > $counter )
      | 
    #end
  #end
#end

#macro ( menuItem $item )
  #if ( $item.getChildCount() > 0 )
    #set ( $collapse = "expanded" )
  #else
    #set ( $collapse = "none" )
  #end
  #set ( $currentItemHref = $PathTool.calculateLink( $item.getAttribute( "href" ), $relativePath ) )
  <li class="$collapse">
    #if ( $currentFileName == $currentItemHref )
      <strong><a href="$currentItemHref">$item.getAttribute( "name" )</a></strong>
    #else
      <a href="$currentItemHref">$item.getAttribute( "name" )</a>
    #end
  </li>
  #if ( $item.getChildren() )
    #if ( $item.getChildCount() > 0 )
      <ul>
        #foreach( $subitem in $item.getChildren() )
          #menuItem( $subitem )
        #end
      </ul>
    #end
  #end
#end

#macro ( mainMenu )
  #set ( $menus = $siteDescriptor.getChild( "body" ).getChildren( "menu" ) )
  #foreach( $menu in $menus )
    <h5>$menu.getAttribute( "name" )</h5>
    <ul>
      #foreach( $item in $menu.getChildren() )
        #menuItem( $item )
      #end
    </ul>
  #end
#end

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>$title</title>
    <style type="text/css" media="all">
      @import url("$relativePath/css/maven-base.css");
      @import url("$relativePath/css/maven-theme.css");
      @import url("$relativePath/css/site.css");
    </style>
    <link rel="stylesheet" href="$relativePath/style/print.css" type="text/css" media="print" />
    #foreach( $author in $authors )
      <meta name="author" content="$author" />
    #end
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
  </head>
  <body class="composite">
    <div id="banner">
      #set ( $banner = "bannerLeft" )
      #banner( $banner )
      #set ( $banner = "bannerRight" )
      #banner( $banner )
      <div class="clear">
        <hr/>
      </div>
    </div>
    <div id="breadcrumbs">
      <div class="xleft">$i18n.getString( "site-plugin", $locale, "template.lastpublished" ): $currentDate</div>
      <div class="xright">#links()</div>
      <div class="clear">
        <hr/>
      </div>
    </div>
    <div id="leftColumn"><div id="navcolumn">#mainMenu()<a href="http://maven.apache.org/" title="$i18n.getString( "site-plugin", $locale, "template.builtby" ) Maven" id="poweredBy">
              <img alt="$i18n.getString( "site-plugin", $locale, "template.builtby" ) Maven" src="$relativePath/images/logos/maven-feather.png"></img>
            </a>
    </div></div>
    <div id="bodyColumn">
      <div id="contentBox">
        $bodyContent
      </div>
    </div>
    <div class="clear">
      <hr/>
    </div>
    <div id="footer">
      <div class="xright">&#169; 2002-2005, Apache Software Foundation</div>
      <div class="clear">
        <hr/>
      </div>
    </div>
  </body>
</html>
