**/target/**
.project
.classpath
.settings/
.svn/
.jbang/

# Intellij
*.ipr
*.iml
.idea
!.idea/icon.png
/bootstrap
/dependencies.xml
.java-version
.checkstyle
.factorypath

# VSCode
.vscode/

# Mac
.DS_Store

