<?xml version="1.0"?>
<settings>
  <!-- We don't need this anymore, since the dependency plugin has been released.
  <profiles>
    <profile>
      <id>asf-snapshots</id>
      <repositories>
        <repository>
          <id>asf-snapshots</id>
          <url>http://people.apache.org/repo/m2-snapshot-repository/</url>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>asf-snapshots</activeProfile>
  </activeProfiles>
-->
</settings>
