<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <description>plugin-description</description>
  <groupId>org.apache.maven.plugins</groupId>
  <artifactId>maven-jar-plugin</artifactId>
  <version>2.3-SNAPSHOT</version>
  <goalPrefix>jar</goalPrefix>
  <isolatedRealm>false</isolatedRealm>
  <inheritedByDefault>true</inheritedByDefault>
  <mojos>
    <mojo>
      <goal>jar</goal>
      <description>mojo-description</description>
      <requiresDependencyResolution>runtime</requiresDependencyResolution>
      <requiresDependencyCollection>test</requiresDependencyCollection>
      <requiresDirectInvocation>false</requiresDirectInvocation>
      <requiresProject>true</requiresProject>
      <requiresReports>false</requiresReports>
      <aggregator>false</aggregator>
      <requiresOnline>false</requiresOnline>
      <inheritedByDefault>true</inheritedByDefault>
      <phase>package</phase>
      <implementation>org.apache.maven.plugin.jar.JarMojo</implementation>
      <language>java</language>
      <instantiationStrategy>per-lookup</instantiationStrategy>
      <executionStrategy>once-per-session</executionStrategy>
      <deprecated>deprecated-mojo</deprecated>
      <since>2.2</since>
      <executePhase>generate-sources</executePhase>
      <executeGoal>some-goal</executeGoal>
      <executeLifecycle>cobertura</executeLifecycle>
      <configurator>antrun</configurator>
      <parameters>
        <parameter>
          <name>finalName</name>
          <alias>jarName</alias>
          <type>java.lang.String</type>
          <implementation>java.lang.String</implementation> 
          <required>false</required>
          <editable>true</editable>
          <description>parameter-description</description>
          <deprecated>deprecated-parameter</deprecated>
        </parameter>
      </parameters>
      <configuration>
        <finalName implementation="java.lang.String" default-value="${project.build.finalName}">${jar.finalName}</finalName>
      </configuration>
      <requirements>
        <requirement>
          <role>org.codehaus.plexus.archiver.Archiver</role>
          <role-hint>jar</role-hint>
          <field-name>jarArchiver</field-name>
        </requirement>
      </requirements>
    </mojo>
    <mojo>
      <goal>war</goal>
      <threadSafe>true</threadSafe>
    </mojo>
  </mojos>
  <dependencies>
    <dependency>
      <groupId>org.apache.maven</groupId>
      <artifactId>maven-plugin-api</artifactId>
      <type>jar</type>
      <version>2.0.6</version>
    </dependency>
  </dependencies>
</plugin>
