body {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
img {
  border:none;
}
table {
	padding:0px;
	width: 100%;
	margin-left: -2px;
	margin-right: -2px;
	font-size: 10px;
}
acronym {
  cursor: help;
  border-bottom: 1px dotted #feb;
}
table.bodyTable th, table.bodyTable td {
  padding: 2px 4px 2px 4px;
  vertical-align: top;
}
div.clear{
  clear:both;
  visibility: hidden;
}
div.clear hr{
  display: none;
}
#bannerRight {
  font-size: xx-large; 
  font-weight: bold;
  
}
#bannerLeft img, #bannerRight img, #bannerRight span{
  margin: 0px;
}
#bannerRight span{
    border: 1px solid;
    padding: 4px 10px 4px 10px;
    background-color: #eee;
    cursor: pointer;
}
.xleft, #bannerLeft img{
	float:left;
	color: #666;
	text-shadow: #7CFC00;

} 
.xright, #bannerRight img, #bannerRight span{
  float:right;
  text-shadow: #7CFC00;

}
.xright a:link, .xright a:visited, .xright a:active{
  color: #666;
}
.xright a:hover{
  color: #003300;
}
#banner {
	height: 93px;
	width: 100%;
	background: url(../images/banner.jpg);
	padding: 0px;
}
#banner img {
  border: none;
}
#breadcrumbs {
  padding: 3px 10px 3px 10px;
}
#leftColumn {
 width: 150px;
 float:left;
}
#bodyColumn {
  margin-right: 15px;
  padding-left: 177px;
}
#legend {
  padding: 8px 0 8px 0;
}
#navcolumn {
  padding: 8px 4px 0 8px;
}
#navcolumn h5 {
	margin: 0;
	padding: 0 0 0 9px;
	font-size: small;
	background-image: url(../images/h5.jpg);
	background-repeat: no-repeat;
	background-position: left bottom;
}
#navcolumn ul {
	margin: 5px 0 15px -0em;
	padding: 0;
	font-size: small;
	background-color: #FFFFFF;
}
#navcolumn ul a {
	color: #333333;
}
#navcolumn ul a:hover {
	color: red;
}
#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: ouside;
  line-height: 1.2em;
  font-size: smaller;
}
#navcolumn li.expanded {
  background-image: url(../images/expanded.gif);
}
#navcolumn li.collapsed {
  background-image: url(../images/collapsed.gif);
}
#poweredBy {
  text-align: center;
}
#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}
#poweredBy img {
  display:block;
  margin: 20px 0 20px 17px;
  border: 1px solid black;
  width: 90px;
  height: 30px;
}
#searchbar img {
    margin: 0px;
    display: block;
}
#searchbar #q, #searchbar #btnG {
    border: 1px solid #999;
    margin-bottom:10px;
}
#searchbar form {
    margin: 0px;
}
#lastPublished {
  font-size: x-small;
}
.navSection {
  margin-bottom: 2px;
  padding: 8px;
}
.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}
.section {
  padding: 4px;
}
#footer {
  font-size: x-small;
  margin: 20px 0px 20px 0px;
  border-top: solid #ccc 1px; 
  padding: 10px;
  color: #333333;
}
#breadcrumbs {
  font-size: x-small;
  margin: 0pt;
}
.source {
	padding: 12px;
	margin: 1em 7px 1em 7px;
}
.source pre {
	margin: 0px;
	padding: 0px;
	width: 955px;
	color: #000;
}
#intro {
	border: solid #ccc 1px;
	margin: 6px 0px 0px 0px;
	padding: 10px 40px 10px 40px;
}
.subsection {
	margin-left: 3px;
	color: #333333;
}

.subsection p {
	font-size: 11px;
}

