body {
	font-family: Verdana, Helvetica, Arial, sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-repeat: repeat-y;
	font-size: 13px;
	padding: 0px;
}
td, select, input, li{
	font-family: Verdana, Helvetica, Arial, sans-serif;
	font-size: 12px;
	color:#333333;
}
code{
  font-size: 12px;
}
a {
  text-decoration: none;
}
a:link {
  color:#47a;
}
a:visited  {
  color:#666666;
}
a:active, a:hover {
  color:#990000;
}
#legend li.externalLink {
  background: url(../images/external.png) left top no-repeat;
  padding-left: 18px;
}
a.externalLink, a.externalLink:link, a.externalLink:visited, a.externalLink:active, a.externalLink:hover {
  background: url(../images/external.png) right center no-repeat;
  padding-right: 18px;
}
#legend li.newWindow {
  background: url(../images/newwindow.png) left top no-repeat;
  padding-left: 18px;
}
a.newWindow, a.newWindow:link, a.newWindow:visited, a.newWindow:active, a.newWindow:hover {
  background: url(../images/newwindow.png) right center no-repeat;
  padding-right: 18px;
}
h2 {
	font-size: 17px;
	color: #333333;  
}
h3 {
	padding: 4px 4px 4px 24px;
	color: #666;
	background-color: #ccc;
	font-weight: bold;
	font-size: 14px;
	background-image: url(../images/h3.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
p {
  line-height: 1.3em;
  font-size: 12px;
  color: #000;
}
#breadcrumbs {
	height: 13px;
	background-image: url(../images/breadcrumbs.jpg);
	padding: 5px 10px 14px 20px;
}
* html #breadcrumbs {
	padding-bottom: 8px;
	p\adding-bottom: 14px;
}
#leftColumn {
	margin: 10px 0 10px 0;
	border-top-color: #ccc;
	border-top-style: solid;
	border-top-width: 1px;
	border-right-color: #ccc;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-color: #ccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	padding-right: 5px;
	padding-left: 5px;
}
#navcolumn h5 {
	font-size: smaller;
	border-bottom: 1px solid #aaaaaa;
	padding-top: 2px;
	color: #49635a;
}

table.bodyTable th {
  color: white;
  background-color: #bbb;
  text-align: left;
  font-weight: bold;
}

table.bodyTable th, table.bodyTable td {
  font-size: 11px;
}

table.bodyTable tr.a {
  background-color: #ddd;
}

table.bodyTable tr.b {
  background-color: #eee;
}

.source {
  border: 1px solid #999;
  overflow:auto
}
dt {
	padding: 4px 4px 4px 24px;
	color: #333333;
	background-color: #ccc;
	font-weight: bold;
	font-size: 14px;
	background-image: url(../images/h3.gif);
	background-repeat: no-repeat;
	background-position: left bottom;
}
.subsectionTitle {
	font-size: 13px;
	font-weight: bold;
	color: #666;

}

