 ---
 Plugin Bindings for Default Lifecycle Reference
 ---
 Hervé Boutemy
 ---
 2011-09-12
 ---
  
Plugin Bindings for <<<default>>> Lifecycle Reference

  The {{{./lifecycles.html}<<<default>>> lifecycle}} is defined without any plugin binding; plugin bindings are defined separately
  because they are specific for each packaging:

%{toc|fromDepth=2}

* Plugin bindings for <<<pom>>> packaging

%{snippet|id=pom-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<jar>>> packaging

%{snippet|id=jar-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<ejb>>> packaging

%{snippet|id=ejb-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<ejb3>>> packaging

%{snippet|id=ejb3-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<maven-plugin>>> packaging

%{snippet|id=maven-plugin-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<war>>> packaging

%{snippet|id=war-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<ear>>> packaging

%{snippet|id=ear-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<rar>>> packaging

%{snippet|id=rar-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}

* Plugin bindings for <<<par>>> packaging

%{snippet|id=par-lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/default-bindings.xml}
  