~~ Licensed to the Apache Software Foundation (ASF) under one
~~ or more contributor license agreements.  See the NOTICE file
~~ distributed with this work for additional information
~~ regarding copyright ownership.  The ASF licenses this file
~~ to you under the Apache License, Version 2.0 (the
~~ "License"); you may not use this file except in compliance
~~ with the License.  You may obtain a copy of the License at
~~
~~ http://www.apache.org/licenses/LICENSE-2.0
~~
~~ Unless required by applicable law or agreed to in writing,
~~ software distributed under the License is distributed on an
~~ "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
~~ KIND, either express or implied.  See the License for the
~~ specific language governing permissions and limitations
~~ under the License.

 -----
 Lifecycles Reference
 -----
 Hervé Boutemy
 -----
 2013-08-02
 -----

Lifecycles Reference

  Maven defines 4 lifecycles in {{{./apidocs/org/apache/maven/lifecycle/providers/package-summary.html}<<<org.apache.maven.lifecycle.providers>>>}} package:

%{toc|fromDepth=2}

* <<<default>>> Lifecycle

  <<<default>>> lifecycle is defined only with phases, <<without>> any associated plugin binding:
  plugins bindings for this lifecycle are {{{./default-bindings.html}defined separately for each packaging}}:

%{snippet|id=default|file=${project.basedir}/src/main/java/org/apache/maven/lifecycle/providers/DefaultLifecycleProvider.java}

* <<<clean>>> Lifecycle

  <<<clean>>> lifecycle phases are defined with their plugins bindings:

%{snippet|id=clean|file=${project.basedir}/src/main/java/org/apache/maven/lifecycle/providers/CleanLifecycleProvider.java}

* <<<site>>> Lifecycle

  <<<site>>> lifecycle phases are defined with their plugins bindings:

%{snippet|id=site|file=${project.basedir}/src/main/java/org/apache/maven/lifecycle/providers/SiteLifecycleProvider.java}

* <<<wrapper>>> Lifecycle

  <<<wrapper>>> lifecycle phases are defined with their plugins bindings:

%{snippet|id=wrapper|file=${project.basedir}/src/main/java/org/apache/maven/lifecycle/providers/WrapperLifecycleProvider.java}
