 ---
 Lifecycles Reference
 ---
 Hervé Boutemy
 ---
 2011-09-12
 ---
  
Lifecycles Reference

  Maven defines 3 lifecycles:

%{toc|fromDepth=2}

* <<<default>>> Lifecycle

  <<<default>>> lifecycle is defined without any associated.
  Bindings are {{{./default-bindings.html}defined separately for every packaging}}:

%{snippet|id=lifecycle|file=${project.basedir}/src/main/resources/META-INF/plexus/components.xml}

* <<<clean>>> Lifecycle

  <<<clean>>> lifecycle is defined directly with its bindings.

%{snippet|id=clean|file=${project.basedir}/src/main/resources/META-INF/plexus/components.xml}

* <<<site>>> Lifecycle

  <<<site>>> lifecycle is defined directly with its bindings.

%{snippet|id=site|file=${project.basedir}/src/main/resources/META-INF/plexus/components.xml}
