<settings>
  <pluginGroups>
    <pluginGroup>org.apache.maven.its.plugins</pluginGroup>
  </pluginGroups>
  <!--
  Maven doesn't resolve snapshot plugins from POM repositories if the plugin is invoked from CLI (MNG-2974). Defining
  the repositories via the user settings seems to workaround that.
  -->
  <profiles>
    <profile>
      <id>MNG-2974-workaround</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <!-- TODO: Remove once IT support plugins/artifacts have been released -->
      <repositories>
        <repository>
          <id>apache.snapshots</id>
          <name>Apache Snapshot Repository</name>
          <url>http://people.apache.org/repo/m2-snapshot-repository</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <id>apache.snapshots</id>
          <name>Apache Snapshot Repository</name>
          <url>http://people.apache.org/repo/m2-snapshot-repository</url>
          <releases>
            <enabled>true</enabled>
          </releases>
          <snapshots>
            <enabled>true</enabled>
          </snapshots>
        </pluginRepository>
      </pluginRepositories>
    </profile>
  </profiles>
</settings>
