<configuration-management>
  <environments>
    <environment>
      <id>dev</id>
      <name>Development Environment</name>
    </environment>
  </environments>
  <properties>
    <description></description>
    <property>
      <key>editor</key>
      <values>
        <environment>
          <id>dev</id>
          <value>devValue</value>
        </environment>
      </values>
    </property>
  </properties>
</configuration-mangement>
