+qa = Environment for qa
+prod = Environment for prod
+dev = Environment for dev
+test = Environment for test

*app.portal.enviroment
{
  qa = internal
  prod = internal
  dev = internal
  test = internal
}

*env.portal.id.webservice.host
{
  qa = smpqsq01
  prod = smpqsp01
  dev = smpqsd01
  test = smpqst01
}

*env.portal.id.webservice.port
{
  qa = 7021
  prod = 7021
  dev = 7021
  test = 7021
}

*env.portal.webservice.host
{
  qa = smpqsq01
  prod = smpqsp01
  dev = smpqsd01
  test = smpqst01
}

*env.portal.webservice.port
{
  qa = 7041
  prod = 7041
  dev = 7041
  test = 7041
}

*env.search.beginUri
{
  qa = http://t3qa.tms.toyota.com/t3Portal/internal
  prod = http://t3.tms.toyota.com/t3Portal/internal
  dev = http://t3privdev.tms.toyota.com/t3Portal/internal
  test = http://t3test.tms.toyota.com/t3Portal/internal
}

*env.timer.webservice.host
{
  qa = smpqsq01
  prod = smpqsp01
  dev = smpqsd01
  test = smpqst01
}

*env.timer.webservice.port
{
  qa = 7021
  prod = 7021
  dev = 7021
  test = 7021
}

*jdk.ver
{
  qa = jdk142_04
  prod = jdk142_04
  dev = jdk142_04
  test = jdk142_04
}

*log4j.configuration.file
{
  qa = file:/t3/envs/wlpqa1/iPortal/log4j.properties
  prod = file:/t3/envs/wlppp1/iPortal/log4j.properties
  dev = file:/t3/envs/wlpdev1/iPortal/log4j.properties
  test = file:/t3/envs/wlptest1/iPortal/log4j.properties
}

*log4j.log.dir
{
  qa = /t3/envs/wlpqa1/iPortal/logs
  prod = /t3/envs/wlppp1/iPortal/logs
  dev = /t3/envs/wlpdev1/iPortal/logs
  test = /t3/envs/wlptest1/iPortal/logs
}

*refinery.database.SID
{
  qa = T3IA
  prod = T3IP
  dev = T3DD
  test = T3DT
}

*refinery.database.password
{
  qa = t3datglobl
  prod = t3dgprod
  dev = t3datglobl
  test = t3datglobl
}

*refinery.database.port
{
  qa = 1521
  prod = 1521
  dev = 1521
  test = 1521
}

*refinery.database.server
{
  qa = hppqsq11
  prod = hppqsp11
  dev = hppqsd01
  test = hppqsd01
}

*refinery.database.user
{
  qa = t3datglobl
  prod = t3datglobl
  dev = t3datglobl
  test = t3datglobl
}

*refineryext.database.SID
{
  qa = T3IA
  prod = T3IP
  dev = T3DD
  test = T3DT
}

*refineryext.database.password
{
  qa = t3datglobl
  prod = t3dgprod
  dev = t3datglobl
  test = t3datglobl
}

*refineryext.database.port
{
  qa = 1521
  prod = 1521
  dev = 1521
  test = 1521
}

*refineryext.database.server
{
  qa = hppqsq11
  prod = hppqsp11
  dev = hppqsd01
  test = hppqsd01
}

*refineryext.database.user
{
  qa = t3datglobl
  prod = t3datglobl
  dev = t3datglobl
  test = t3datglobl
}

*report.key.reportHost
{
  qa = smbrip11.tms.toyota.com
  prod = smbrip10.tms.toyota.com
  dev = smbrit03.tms.toyota.com
  test = smbrit03.tms.toyota.com
}

*report.key.reportPort
{
  qa = 1820
  prod = 1800
  dev = 1810
  test = 1810
}

*report.tas.report.url
{
  qa = /t3reporting/dataaccess/Browse?REQUEST_TYPE=GET_DOCUMENT&DOC_UUID=000001005330d663-0000-ea23-0a3f070b&DOC_VERSION=1&JScript=enable
  prod = /t3reporting/dataaccess/Browse?REQUEST_TYPE=GET_DOCUMENT&DOC_UUID=00000100966a65c0-0000-81b5-0a3f070a&DOC_VERSION=1&JScript=enable
  dev = /t3reporting/dataaccess/Browse?REQUEST_TYPE=GET_DOCUMENT&DOC_UUID=00000100f6bb076d-0000-eafc-0a311104&DocVersion=1&JScript=enable
  test = /t3reporting/dataaccess/Browse?REQUEST_TYPE=GET_DOCUMENT&DOC_UUID=00000100f6bb076d-0000-eafc-0a311104&DocVersion=1&JScript=enable
}

*tas.editor.attachment.path
{
  qa = /t3/envs/wlpqa1/iPortal/attachment/
  prod = /t3/envs/wlppp1/iPortal/attachment/
  dev = /t3/envs/wlpdev1/iPortal/attachment/
  test = /t3/envs/wlptest1/iPortal/attachment/
}

*tas.email.url
{
  qa = http://t3qa.tms.toyota.com/t3Portal
  prod = http://t3.tms.toyota.com/t3Portal
  dev = http://t3privdev.tms.toyota.com/t3Portal
  test = http://t3test.tms.toyota.com/t3Portal
}

*unix.bea.dir
{
  qa = /t3/apps/wl/8.1.3
  prod = /t3/apps/wl/8.1.3
  dev = /t3/apps/wl/8.1.3
  test = /t3/apps/wl/8.1.3
}

*unix.cvsroot.dir
{
  qa = /t3/build/cruisecontrol/checkout
  prod = /t3/build/cruisecontrol/checkout
  dev = /t3/build/cruisecontrol/checkout
  test = /t3/build/cruisecontrol/checkout
}

*unix.deploy.dir
{
  qa = /t3/envs/wlpqa1
  prod = /t3/envs/wlppp1
  dev = /t3/envs/wlpdev1
  test = /t3/envs/wlptest1
}

*weblogic.ExecuteQueue
{
  qa = 100
  prod = 100
  dev = 15
  test = 15
}

*weblogic.IAExtension.SiteMinderAdmin
{
  qa = t3admin
  prod = t3admin
  dev = siteminder
  test = siteminder
}

*weblogic.IAExtension.SiteMinderAdminPassword
{
  qa = 42T3amm
  prod = {3DES}FZxvhDswJrc=
  dev = {3DES}3x8+x75ipmk=
  test = {3DES}PeLrMhffwaQ=
}

*weblogic.NovellAuthenticator.host
{
  qa = smtbgq15.tms.toyota.com
  prod = smtbgp05.tms.toyota.com
  dev = smtbgd01
  test = tau.tms.toyota.com
}

*weblogic.NovellAuthenticator.password
{
  qa = intPortalBrokert3
  prod = intPortalBrokert3
  dev = intportalbrokert3
  test = intPortalBrokert3
}

*weblogic.NovellAuthenticator.principal
{
  qa = cn=T3intPortalBroker,ou=svcaccounts,ou=spec,o=teds
  prod = cn=T3intPortalBroker,ou=svcaccounts,ou=spec,o=teds
  dev = cn=T3intPortalBroker,ou=svcaccounts,ou=spec,o=teds
  test = cn=T3intPortalBroker,ou=svcaccounts,ou=spec,o=teds
}

*weblogic.additional.security
{
  qa = Security:Name=myrealmIAExtension
  prod = Security:Name=myrealmIAExtension
  dev = Security:Name=myrealmIAExtension
  test = Security:Name=myrealmIAExtension
}

*weblogic.admin.host
{
  qa = smpqsq01
  prod = smpqsp01
  dev = smpqsd01
  test = smpqst01
}

*weblogic.admin.port
{
  qa = 7021
  prod = 7021
  dev = 7021
  test = 7021
}

*weblogic.admin.sslport
{
  qa = 7022
  prod = 7022
  dev = 7022
  test = 7022
}

*weblogic.database.SID
{
  qa = T3IA
  prod = T3IP
  dev = T3DD
  test = T3DT
}

*weblogic.database.password
{
  qa = t3wlpint
  prod = t3wlpintprod
  dev = t3wlpint
  test = t3wlpint
}

*weblogic.database.port
{
  qa = 1521
  prod = 1521
  dev = 1521
  test = 1521
}

*weblogic.database.server
{
  qa = hppqsq11
  prod = hppqsp11
  dev = hppqsd01
  test = hppqsd01
}

*weblogic.database.user
{
  qa = t3wlpint
  prod = t3wlpint
  dev = t3wlpint
  test = t3wlpint
}

*weblogic.debug.port
{
  qa = 8023
  prod = 8023
  dev = 8023
  test = 8023
}

*weblogic.domain.name
{
  qa = iPortal
  prod = iPortal
  dev = iPortal
  test = iPortal
}

*weblogic.system.password
{
  qa = password
  prod = password
  dev = password
  test = password
}

*weblogic.system.user
{
  qa = system
  prod = system
  dev = system
  test = system
}

*weblogic.ver
{
  qa = weblogic81
  prod = weblogic81
  dev = weblogic81
  test = weblogic81
}

*weblogicxml.jsp.debug
{
  qa = false
  prod = false
  dev = true
  test = true
}

*weblogicxml.jsp.pageCheckSeconds
{
  qa = -1
  prod = -1
  dev = 1
  test = 1
}

*weblogicxml.jsp.precompile
{
  qa = true
  prod = true
  dev = false
  test = false
}

*weblogicxml.jsp.precompileContinue
{
  qa = true
  prod = true
  dev = false
  test = false
}

*weblogicxml.publisher.local-path
{
  qa = /t3/data/pub
  prod = /t3/data/pub
  dev = /t3/data/pub
  test = /t3/data/pub
}

*weblogicxml.staticcontent.local-path
{
  qa = /t3/data
  prod = /t3/data
  dev = /t3/data
  test = /t3/data
}

*webxml.auth-method
{
  qa = CLIENT-CERT
  prod = CLIENT-CERT
  dev = CLIENT-CERT
  test = CLIENT-CERT
}

*win.bea.dir
{
  qa = /bea
  prod = /bea
  dev = /bea
  test = /bea
}

*win.cvsroot.dir
{
  qa = /dev
  prod = /dev
  dev = /dev
  test = /dev
}

*win.deploy.dir
{
  qa = /dev/t3/library/deploy
  prod = /dev/t3/library/deploy
  dev = /dev/t3/library/deploy
  test = /dev/t3/library/deploy
}

