<settings>
  <mirrors>
    <mirror>
      <id>test-mirror</id>
      <url>@protocol@://www.example.com/</url>
      <mirrorOf>*</mirrorOf>
    </mirror>
  </mirrors>
  <proxies>
    <proxy>
      <id>http-proxy</id>
      <protocol>http</protocol>
      <host>127.0.0.1</host>
      <port>@port@</port>
    </proxy>
  </proxies>
</settings>

