 -----
 ${project.name}
 -----
 Hervé Boutemy
 -----
 2012-04-29
 -----

${project.name}

 ${project.description}

Supported CLI Options

%{snippet|file=${project.basedir}/target/test-classes/options.html|verbatim=false}
